<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test page</title>
    <link  th:rel="stylesheet" th:href="@{../static/bootstrap-5.2.0/css/bootstrap.min.css}">
    <script th:src="@{../static/bootstrap-5.2.0/js/bootstrap.min.js}"></script>
</head>

<body>
<div class="container-fluid" style="margin-top: 50px;">

    <h3 class="col-8 " style="width:50%; margin:auto; float:none; text-align: center">welcome dataLeaf flink stream process platform</h3>
    <h3 class="col-8 " style="width:50%; margin:auto; float:none; text-align: center">place access dataLeaf web platform</h3>
</div>
</body>
</html>